/* Our app */
body {
    font-family: "Montserrat", sans-serif;
    background-color: #F6F6FA;
    font-size: 14px;

}

.app-wrapper {
    display: flex;
    width: 1200px;
    height: 1319px;
    margin: 40px auto;
    background-color: #FFF;

}

/* Sidebar Styles */
.sidebar-section {
    background-color: #dfeeff; 
}

.sidebar-image {
    margin-top: 40px;
}

.contacts-container {
    padding-left: 40px;
}

.contacts-header {
    color: #161D2A;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contacts-item {
    color: #161D2A;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
}

.contacts-phone {
    color: #4489FF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    text-decoration: none;
    margin-left: 10px;
}

.contacts-email {
    color: #4489FF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */  
    margin-left: 10px;
}

.contacts-element {
    margin-top: 12px;
}

.tech-skills-section {
    padding-left: 40px;
    margin-top: 40px;
}

/* Main content Styles */

.right-side-container {
    padding-left: 88px;
}

.about-me-section {
    margin-top: 80px;
    margin-right: 40px;
}

.projects-section {
    margin-top: 40px;
}

.work-experience-section {
    margin-top: 41px;
}

.education-section {
    margin-top: 40px;
}